.Profile-container {
    width: 50%;
    margin: 10px auto;
}
.Profile-avatar {
    width: 150px;
}
.Profile-container > ul {
    text-align: left;
    list-style: none;
    padding: 0;
}
.Profile-container > ul > li {
    display: flex;
    justify-content: space-between;
}
.Profile-container > ul > li > span {
    font-weight: 600;
}